Going from a CSV file to a JSON file is a common need.

In [1]:
import pandas as pd

In [2]:
# You can load your local csv data with this command
# data = pd.read_csv('data.csv')
data = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/boot/acme.csv')

Quick Tip: If using an Excel file, remember not to have the format set as custom. Creates a lot of problems.

In [3]:
data.head()

   Unnamed: 0 month    market      acme
0           1  1/86 -0.061134  0.030160
1           2  2/86  0.008220 -0.165457
2           3  3/86 -0.007381  0.080137
3           4  4/86 -0.067561 -0.109917
4           5  5/86 -0.006238 -0.114853

In [4]:
data.columns = ['Number', 'Month', 'Market','Acme']
data.head()

   Number Month    Market      Acme
0       1  1/86 -0.061134  0.030160
1       2  2/86  0.008220 -0.165457
2       3  3/86 -0.007381  0.080137
3       4  4/86 -0.067561 -0.109917
4       5  5/86 -0.006238 -0.114853

In [5]:
# The code snippet below is useful if you have issues with coercing some of the data to be numeric
# data.Market=data.Market.str.strip(' ')
# data.Market = data.Market.apply(pd.to_numeric, errors='coerce')

Remember, no [], just need {}. Otherwise it will an array of 1

In [7]:
data_flat = []
for i in range(len(data)):
    data_flat.append({'Month':data.iloc[i].Month, 
                      'Market':data.iloc[i].Market,
                      'Acme':float(data.iloc[i].Acme)})

In [8]:
import json
with open('data.json', 'w') as outfile:
    json.dump(data_flat, outfile)

In [9]:
data_flat

[{'Acme': 0.030160000000000003, 'Market': -0.061134, 'Month': '1/86'},
 {'Acme': -0.165457, 'Market': 0.00822, 'Month': '2/86'},
 {'Acme': 0.080137, 'Market': -0.007381, 'Month': '3/86'},
 {'Acme': -0.109917, 'Market': -0.067561, 'Month': '4/86'},
 {'Acme': -0.114853, 'Market': -0.0062380000000000005, 'Month': '5/86'},
 {'Acme': -0.099254, 'Market': -0.044251, 'Month': '6/86'},
 {'Acme': -0.226846, 'Market': -0.11207, 'Month': '7/86'},
 {'Acme': 0.07344500000000001, 'Market': 0.030226, 'Month': '8/86'},
 {'Acme': -0.143064, 'Market': -0.129556, 'Month': '9/86'},
 {'Acme': 0.034776, 'Market': 0.0013189999999999999, 'Month': '10/86'},
 {'Acme': -0.063375, 'Market': -0.033679, 'Month': '11/86'},
 {'Acme': -0.058735, 'Market': -0.072795, 'Month': '12/86'},
 {'Acme': 0.050214, 'Market': 0.073396, 'Month': '1/87'},
 {'Acme': 0.11116500000000001, 'Market': -0.011618, 'Month': '2/87'},
 {'Acme': -0.127492, 'Market': -0.026851999999999997, 'Month': '3/87'},
 {'Acme': 0.054522, 'Market': -0.040356, 'Month': '4/87'},
 {'Acme': -0.072918, 'Market': -0.047539, 'Month': '5/87'},
 {'Acme': -0.058979, 'Market': -0.001732, 'Month': '6/87'},
 {'Acme': 0.23614699999999997,
  'Market': -0.008898999999999999,
  'Month': '7/87'},
 {'Acme': -0.094778, 'Market': -0.020837, 'Month': '8/87'},
 {'Acme': -0.135669, 'Market': -0.084811, 'Month': '9/87'},
 {'Acme': -0.284796, 'Market': -0.262077, 'Month': '10/87'},
 {'Acme': -0.171494, 'Market': -0.110167, 'Month': '11/87'},
 {'Acme': 0.242616, 'Market': 0.034955, 'Month': '12/87'},
 {'Acme': -0.06351799999999999, 'Market': 0.012688, 'Month': '1/88'},
 {'Acme': -0.117677, 'Market': -0.00217, 'Month': '2/88'},
 {'Acme': 0.201674, 'Market': -0.073462, 'Month': '3/88'},
 {'Acme': -0.147728, 'Market': -0.043419, 'Month': '4/88'},
 {'Acme': -0.17088499999999998,
  'Market': -0.054729999999999994,
  'Month': '5/88'},
 {'Acme': -0.014893, 'Market': -0.011755, 'Month': '6/88'},
 {'Acme': -0.11051500000000002,
  'Market': -0.061717999999999995,
  'Month': '7/88'},
 {'Acme': -0.168769, 'Market': -0.10171000000000001, 'Month': '8/88'},
 {'Acme': -0.13558499999999998, 'Market': -0.032705, 'Month': '9/88'},
 {'Acme': -0.084077, 'Market': -0.045334, 'Month': '10/88'},
 {'Acme': -0.16455, 'Market': -0.079288, 'Month': '11/88'},
 {'Acme': 0.150269, 'Market': -0.036233, 'Month': '12/88'},
 {'Acme': -0.015672, 'Market': -0.011493999999999999, 'Month': '1/89'},
 {'Acme': -0.037860000000000005,
  'Market': -0.09372899999999999,
  'Month': '2/89'},
 {'Acme': -0.074712, 'Market': -0.065215, 'Month': '3/89'},
 {'Acme': -0.10853, 'Market': -0.037113, 'Month': '4/89'},
 {'Acme': -0.036769, 'Market': -0.044399, 'Month': '5/89'},
 {'Acme': 0.023912, 'Market': -0.084412, 'Month': '6/89'},
 {'Acme': -0.07843, 'Market': 0.0034439999999999996, 'Month': '7/89'},
 {'Acme': -0.132199, 'Market': -0.056760000000000005, 'Month': '8/89'},
 {'Acme': -0.110141, 'Market': -0.07897, 'Month': '9/89'},
 {'Acme': -0.126302, 'Market': -0.105367, 'Month': '10/89'},
 {'Acme': -0.09573, 'Market': -0.038633999999999995, 'Month': '11/89'},
 {'Acme': 0.06573999999999999, 'Market': -0.043261, 'Month': '12/89'},
 {'Acme': -0.120056, 'Market': -0.139773, 'Month': '1/90'},
 {'Acme': -0.08520499999999999,
  'Market': -0.05909400000000001,
  'Month': '2/90'},
 {'Acme': -0.130433, 'Market': -0.057736, 'Month': '3/90'},
 {'Acme': -0.116728, 'Market': -0.102524, 'Month': '4/90'},
 {'Acme': -0.078039, 'Market': 0.023881, 'Month': '5/90'},
 {'Acme': -0.170322, 'Market': -0.07911599999999999, 'Month': '6/90'},
 {'Acme': -0.077727, 'Market': -0.078965, 'Month': '7/90'},
 {'Acme': -0.277035, 'Market': -0.161359, 'Month': '8/90'},
 {'Acme': -0.20759499999999997, 'Market': -0.119376, 'Month': '9/90'},
 {'Acme': -0.070515, 'Market': -0.076008, 'Month': '10/90'},
 {'Acme': -0.046274, 'Market': -0.006444, 'Month': '11/90'},
 {'Acme': -0.190834, 'Market': -0.026400999999999997, 'Month': '12/90'}]